.skill-card{
    border: 2px solid black;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem 0;
}
.skill-card img{
    width: 4rem;
    height: 4rem;
    /* text-align: center; */
}
.skill-card p{
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align:right;
}