#home{
    height:80vh;
    padding: 19rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../../resourses/hero-bg.jpg") no-repeat center center / cover;
}
.blank{
    border: none;
    height: 3rem;
}
#home h4{
    font-size: 1.5rem;
    text-decoration: underline;
}
#home h1{
    font-size: 3.5rem;
}
#home h2{
    font-size: 2rem;
}
#home p{
    font-size: 2rem;
    margin-top: 1rem;
}
.btns{
    margin-top: 1rem;
}
@media screen and (max-width: 600px) {
    #home{
        padding: 18rem 3rem;
    }
}