#contact{
    padding: 2rem 15rem;
}
.inputs{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 3rem;
    position: relative;
}
.inputs .input{
    width: 50%;
}
textarea{
    width: 100%;
    margin-top: 1.2rem;
}
.input, textarea {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    transition: border-bottom-color 0.3s ease;
}
.input:focus, textarea:focus {
    outline: none;
    border-bottom-color: rgba(0, 0, 0, 0.215);
}
.hire-btn{
    margin-top: 20px;
}
@media screen and (max-width: 1100px) {
    #contact{
        padding: 2rem 13rem;
    }
}
@media screen and (max-width: 700px) {
    #contact{
        padding: 2rem 8rem;
    }
}
@media screen and (max-width: 600px) {
    #contact{
        padding: 2rem 5rem;
    }
    .inputs{
        flex-direction: column;
    }
    .inputs .input{
        width: 100%;
        margin-bottom: 15px;
    }
}

.error{
    color: red;
    font-size: 1.3rem;
    position: absolute;
    top: 50px;
    left: 8px;
}