.footer-icons{
    background-color: #d3d3d3;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.footer-icons i{
    font-size: 2rem;
    transition: transform 0.3s ease;
}
.footer-icons i:hover{
    transform: scale(1.2);
}
.foot-data{
    text-align: center;
    margin: 10px;
    font-size: 13px;
}
