.text-center {
    text-align: center;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-left: 20px;
}

.mt-20 {
    margin-left: 20px;
}

.mb-20 {
    margin-left: 20px;
}

.slide-left {
    animation: slideFromLeft 1s ease forwards;
}

.slide-right {
    animation: slideFromRight 1s ease forwards;
}

.slide-top {
    animation: slideFromTop 1s ease forwards;
}

.slide-bottom {
    animation: slideFromBottom 1s ease forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-80px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(80px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}